.p-gnavi {
	@include breakpoint( tablet ) {
		width: 100%;
		margin-bottom: 18px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	@include breakpoint( pc ) {
	}
	@include breakpoint( wide ) {
	}
	> li {
		@include breakpoint( tablet ) {
			margin: 0 18px 10px 0;
			font-size: 1.6rem;
			text-align: center;
			box-sizing: border-box;
			position: relative;
			&::after {
				@include beforeafter;
				content: "";
				margin-left: 18px;
				text-align: left;
				border-right: 1px solid #fffac6;
				display: inline;
			}
			&:last-child::after {
				@include beforeafter;
				content: "";
				border-right: none;
			}
			> a {
				&:hover {
					+ .sub-menu {
						display: flex !important;
						margin-top: 0;
						opacity: 1;
						transition: all 500ms 0s ease;
					}
				}
			}
		}
		@include breakpoint( pc ) {
		}
		@include breakpoint( wide ) {
		}
		.sub-menu {
			min-width: 150px;
			width: 100%;
			li {
				min-width: 150px;
				width: 100%;
				margin-top: 10px;
				line-height: 1.4;
			}
		}
		>.sub-menu {
			@include breakpoint( tablet ) {
				padding: 0 10px 10px 10px;
				flex-wrap: wrap;
				left: -18px;
				margin-top: 20px;
				position: absolute;
				z-index: 2;
				opacity: 0;
				transition: all 300ms 0s ease;
				&:hover {
					display: flex;
					margin-top: 0;
					opacity: 1;
				}
			}
			@include breakpoint( pc ) {
			}
			@include breakpoint( wide ) {
			}
			li {
				@include breakpoint( tablet ) {
					width: 100%;
					align-items: center;
					text-align: left;
					position: relative;
					&:last-child {
						// margin-bottom: 0;
					}
					&::after {
						border: none;
						margin-left: 0;
					}
					>.sub-menu {
						padding-left: 10px;
					}
				}
				@include breakpoint( pc ) {
				}
				@include breakpoint( wide ) {
				}
			}
		}
	}
}
